html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    margin: 0px;
    font-family:sans-serif;
    background-color: #F4F4F8;
    padding-bottom:10px;
    padding-top:10px;

}


.main-section {

    margin-top:10px;
    background-color: #fcfcfe;
    margin-left:auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-right:auto;
    border-radius: 1px;
    padding-bottom:20px;

}

#main-box {
	width:100%;
	height:350px;
	background-color:#eeeeef;
	-webkit-box-shadow: 10px 31px 83px -4px rgba(0,0,0,0.15);

		background-image:url("edited3.png");
	background-position: right;
}

#first-box {
    display: table-cell;
    vertical-align: bottom;
	width:275px;
	height:300px;
	background-color:#eeefef;
		-webkit-box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.1);
}

#bottom-box {
background-color:#5F5E69;
height:55px;
padding-left:20px;

}

a {
    color: #38f;
    text-decoration: none;
}

.site-title {
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
    max-width: 900px;
    font-size: 40px;

	color:#334;
}

.title-text {

    color:#557;
    font-weight: 100;
    margin:20px;
    font-size: 38px;
}

.subtitle-text {
    color:#557;
    font-weight: 100;
    margin:20px;
    margin-top:5px;
    font-size:12px;

}

#title {
font-size:30px;
padding:20px;
margin-top:10px;

}
#body-text {
font-size:14px;
padding:20px;
padding-top:0px;
max-width:550px;
}
.social-link {
    font-size: 18px;
    height: 50px;
    line-height:40px;
    margin-right:10px;
    color:#eee;
    
}


#whitespace {
    line-height: 40px;
    white-space: nowrap;

}
