html {
    /*-webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    margin: 0px;
    font-family:sans-serif;
    background-color: #f2f2f2;
    padding-bottom:10px;
    padding-top:10px;

}

#content {
margin-left:305px;
margin-right: 10px;
min-width:250px;
}

.now-playing-title {
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
    max-width: 1100px;
    font-size: 40px;
text-align:center;
	color:#334;

}

#site-info {

position:absolute;
margin-left:325px;
margin-top:-80px;
min-width:300px;
}


.main-section {

    margin-top:0px;
    background-color: #f2f2f2;
    margin-left:auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-right:auto;
    border-radius: 1px;
    padding-bottom:20px;

}

#main-box {
	width:100%;
	height:350px;
	min-width:720px;

	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.06);
	background-image:url("images/neckville-2.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:botton;
}


#first-box {
    display: table-cell;
    vertical-align: bottom;
	width:300px;
	height:300px;
	background-color:rgba(220, 220, 220, 0.2);

}

#bottom-box {
background-color:#f4f4f4;
height:50px;
}

a {
    color: #335;
    text-decoration: none;
}

#site-title {
	padding-top:20px;

    max-width: 1100px;
    font-size: 40px;
	color:#efefef;
}

#site-subtitle {
color: #efefef;
    font-weight: 100;
    margin-top:5px;
    font-size:12px;



}

#play-margin {
margin-left: 20px;

}

#now-playing {

    color:#335;
    font-weight: 100;
    font-size: 38px;
    opacity:0.4;
    display: inline;
    
}


.subtitle-text {
    color:#335;
    font-weight: 100;
    margin:20px;
    margin-top:5px;
    font-size:12px;
    opacity:0.4;

}

#title {
font-size:30px;
padding:20px;
margin-top:10px;
color:#335;
font-weight:bold;

}

#body-text {
font-size:16px;
padding:20px;
padding-top:0px;
max-width:550px;
line-height:25px;
color:#335;

}
.social-link {
    font-size: 18px;
    height: 50px;
    line-height:50px;

    color:#99a;
    font-weight:bold;
    float:left;
    padding-left: 20px;
    padding-right: 20px;

    
    
    
}


#social-links {
    line-height: 50px;
    white-space: nowrap;
    margin-left: 25px;
    float:left;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
             
}

#music-player {
background-color:rgba(7,7,13,0.2);
width:300px;
height:50px;
float:left;

}

#play-button {
margin-top:-35px;
margin-right:20px;
float:right;
top:-0px;
-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.15));

}

#now-playing-sub {
line-height:2;
color:#efefef;
font-size:14px;
opacity:0.7;
font-weight:bold;

}

#music-list {
float:left;

}

#list-element {
margin-left: 20px;

}

ul {
list-style-type: none;
font-size:20px;
line-height:50px;
color:#335;
margin-left:-40px;
margin-top:20px;
width:300px;

}

