html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    margin: 0px;
    font-family:sans-serif;
    background-color: #f2f2f2;
    padding-bottom:10px;
    padding-top:10px;

}

#content {
margin-left:305px;
}

.now-playing-title {
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
    max-width: 1100px;
    font-size: 40px;
text-align:center;
	color:#334;

}


.main-section {

    margin-top:0px;
    background-color: #f2f2f2;
    margin-left:auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-right:auto;
    border-radius: 1px;
    padding-bottom:20px;

}

#main-box {
	width:100%;
	height:350px;

	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.06);
	background-image:url("images/neckville-2.png");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:botton;
}


#first-box {
    display: table-cell;
    vertical-align: bottom;
	width:300px;
	height:300px;
	background-color:rgba(220, 220, 220, 0.2);

}

#bottom-box {
background-color:#f4f4f4;
height:50px;
}

a {
    color: #335;
    text-decoration: none;
}

.site-title {
	padding-top:20px;
	margin-left:auto;
	margin-right:auto;
    max-width: 1100px;
    font-size: 40px;
	color:#334;
}

#now-playing {

    color:#335;
    font-weight: 100;
    margin:20px;
    font-size: 38px;
    opacity:0.4;
    
}

.subtitle-text {
    color:#335;
    font-weight: 100;
    margin:20px;
    margin-top:5px;
    font-size:12px;
    opacity:0.4;

}

#title {
font-size:30px;
padding:20px;
margin-top:10px;
color:#557;
font-weight:bold;

}
#body-text {
font-size:16px;
padding:20px;
padding-top:0px;
max-width:550px;
line-height:20px;
color:#557;

}
.social-link {
    font-size: 18px;
    height: 50px;
    line-height:40px;
    margin-right:10px;
    color:#335;
    font-weight:bold;
    float:left;
}


#social-links {
    line-height: 40px;
    white-space: nowrap;
    margin-left: 25px;
    float:left;
}

#music-player {
background-color:rgba(7,7,13,0.2);
width:300px;
height:50px;
float:left;

}

#play-button {
margin-top:-35px;
margin-right:20px;
float:right;
top:-0px;
-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.15));

}

#now-playing-sub {
line-height:2;
color:#efefef;
font-size:14px;
opacity:0.7;
font-weight:bold;

}

